@import url('./assets/font.css');

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: shabnam, sans-serif !important;
    font-weight: 400;
    font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
