input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0; 
}

body{
   display: flex;
   justify-content: center;
   background: linear-gradient(90deg, #29003b 28px, transparent 10%) center,
    linear-gradient(#29003b 28px, transparent 80%) center, rgb(0, 0, 0);
   background-size: 30px 30px;

}

.formContainer{
   display: flex;
   justify-content: center;
   width: 450px;
   height: 80%;
   margin: 20px 20px 20px 20px !important;
   background: #4c006e ;
   opacity: 0.8;
   border-radius: 3%;
   border: 2px solid yellow;
   box-shadow: 0 0 15px rgba(167, 165, 165, 0.45);
}

.submitButton{
   justify-content: center;
   background-color: #b711ff;
   border-color: #b711ff;
   font-weight: 600;
}

.ant-form-item-label > label{
   color: white;
   font-size: 16px;
   font-weight: 700;
}

.ant-form-item-required::before{
   content: '' !important;
}

.ant-form-item-label > label::after{
   content: '' !important;
}

.datepicker-input{
   border-radius: 7px;
   height: 35px;
}

.ant-form-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 8px;
}

.ant-form-item-label {
   line-height: 27px !important;
}

.ant-input-password{
   width:380px;
}

.ant-progress{
   width: 380px;
   right: 8%;
}
.headerForm{
   color: white;
   text-align: center;
}

.headerImg{
   border-radius: 50%;
   width: 100px;
   margin-right: 150px;
}

.ant-radio-wrapper > span {
   color: white;
}
/* .ant-form-item-required::before{
   margin-right: -6px;
} */

.ant-input:placeholder-shown{
   text-align: center;
}
